html, body {
  margin: 0;
  overflow: hidden;
  overflow-y: auto; }

a {
  text-decoration: none; }

input, button {
  outline: medium;
  border: none; }

.activity {
  margin-bottom: 0;
  border-bottom: 1px solid #2A363B; }

.center-box {
  width: 70%;
  margin: 0 auto; }

.header {
  width: 100%; }
  .header .header-title {
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
    font-size: 2rem;
    font-weight: 700; }
  .header .nav-box {
    z-index: 3; }
    .header .nav-box .header-nav {
      margin: 0 auto;
      padding: 0;
      overflow: hidden; }
      .header .nav-box .header-nav li {
        float: left;
        list-style-type: none; }
        .header .nav-box .header-nav li a {
          display: inline-block; }
      .header .nav-box .header-nav li a {
        width: 75px;
        height: 46px;
        text-align: center;
        line-height: 46px;
        font-size: 0.9rem;
        font-weight: 700; }
      .header .nav-box .header-nav .option {
        cursor: pointer; }
      .header .nav-box .header-nav .header-search {
        width: 200px;
        float: right;
        margin-top: 10px;
        margin-right: 22px;
        border: none;
        border-radius: 3px;
        padding: 0 0 0 8px;
        font-size: 0;
        position: relative; }
        .header .nav-box .header-nav .header-search input, .header .nav-box .header-nav .header-search button {
          height: 30px; }
        .header .nav-box .header-nav .header-search input {
          width: 170px;
          border-radius: 3px;
          padding: 0; }
        .header .nav-box .header-nav .header-search button {
          font-size: 1rem;
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          text-align: center; }
    .header .nav-box .header-nav-mobile {
      cursor: pointer;
      display: none; }
      .header .nav-box .header-nav-mobile .bars-btn {
        display: inline-block;
        width: 75px;
        height: 46px;
        color: #3F3038;
        text-align: center;
        line-height: 46px;
        font-size: 1.5rem;
        font-weight: 700; }
  .header .mobile-sidebar {
    display: none;
    position: fixed;
    top: 46px;
    width: 100%;
    margin: 0;
    padding: 0; }
    .header .mobile-sidebar li {
      cursor: pointer;
      list-style: none;
      text-align: center;
      padding: 5px 0;
      margin: 0 auto; }
    .header .mobile-sidebar .mobile-sidebar-2 {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0; }

.bar-box {
  display: none;
  height: 50px; }
  .bar-box a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-top: 8px; }

.main {
  margin: 10px auto; }
  .main .main-left {
    display: inline-block;
    width: 60%;
    float: left;
    margin-right: 5%; }
    .main .main-left .main-article {
      width: 100%;
      border-radius: 3px;
      margin-bottom: 20px; }
      .main .main-left .main-article .article-img {
        width: 100%;
        height: auto;
        border-radius: 3px 3px 0 0; }
      .main .main-left .main-article .movie {
        border-radius: 3px 3px 0 0; }
      .main .main-left .main-article .article-title {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        width: 98%;
        padding: 0;
        border: 0;
        margin: 0 auto;
        margin-bottom: 6px;
        font-size: 1rem; }
      .main .main-left .main-article .article-inf {
        width: 100%; }
        .main .main-left .main-article .article-inf .inf-ul {
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          width: 97%;
          border-radius: 0 0 3px 3px; }
          .main .main-left .main-article .article-inf .inf-ul li {
            float: left;
            list-style-type: none; }
            .main .main-left .main-article .article-inf .inf-ul li a {
              display: inline-block; }
          .main .main-left .main-article .article-inf .inf-ul li {
            padding-right: 10px;
            margin: 6px auto;
            font-size: 0.7rem; }
            .main .main-left .main-article .article-inf .inf-ul li span {
              cursor: pointer; }
              .main .main-left .main-article .article-inf .inf-ul li span a {
                text-align: center;
                padding-right: 4px; }
              .main .main-left .main-article .article-inf .inf-ul li span i:before {
                padding-right: 4px; }
    .main .main-left .article-page {
      width: 100%;
      height: 30px;
      margin: 10px auto; }
      .main .main-left .article-page .page-left, .main .main-left .article-page .page-right {
        display: inline-block;
        width: 49.5%;
        height: 100%; }
      .main .main-left .article-page .page-left {
        text-align: left; }
      .main .main-left .article-page .page-right {
        text-align: right; }
      .main .main-left .article-page a {
        font-size: 0.8rem;
        font-weight: 600; }
      .main .main-left .article-page .page-add {
        display: none;
        text-align: center;
        border-radius: 3px; }
    .main .main-left .tags-box {
      border-radius: 3px;
      width: 100%;
      font-size: 0.8rem; }
      .main .main-left .tags-box a {
        display: inline-block;
        padding: 6px;
        text-align: center;
        border-radius: 3px;
        margin: 6px; }
  .main .main-right {
    display: inline-block;
    width: 35%;
    float: left;
    border-radius: 3px; }
    .main .main-right .main-author {
      width: 100%;
      height: 350px;
      border-radius: 3px;
      margin-bottom: 20px; }
      .main .main-right .main-author .author-bag {
        height: 50%;
        border-radius: 3px 3px 0 0; }
      .main .main-right .main-author .author-inf {
        height: 50%;
        position: relative; }
        .main .main-right .main-author .author-inf .weixin {
          display: none;
          width: 45%;
          height: auto;
          position: absolute;
          bottom: -170px;
          left: 27%; }
        .main .main-right .main-author .author-inf .author-inf-img {
          cursor: pointer;
          width: 100%;
          position: absolute;
          top: -40px; }
          .main .main-right .main-author .author-inf .author-inf-img img {
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0 auto; }
        .main .main-right .main-author .author-inf p {
          padding: 0;
          text-align: center;
          font-weight: 700; }
    .main .main-right .main-template {
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
      margin-bottom: 20px; }
      .main .main-right .main-template .template-box {
        width: 92%;
        margin: 20px auto; }
        .main .main-right .main-template .template-box .template-content {
          width: 100%;
          margin-top: 20px; }
          .main .main-right .main-template .template-box .template-content a {
            margin-bottom: 3px;
            border-radius: 2px;
            text-align: center;
            font-size: 0.8rem;
            line-height: 30px; }
        .main .main-right .main-template .template-box .t-tags a, .main .main-right .main-template .template-box .t-links a {
          height: 30px;
          padding: 0 6px; }
        .main .main-right .main-template .template-box .t-tags a {
          display: inline-block; }
        .main .main-right .main-template .template-box .t-links a {
          display: block; }
        .main .main-right .main-template .template-box .t-films a {
          display: block; }
          .main .main-right .main-template .template-box .t-films a img {
            width: 100%;
            height: auto; }
          .main .main-right .main-template .template-box .t-films a p {
            margin: 0;
            padding: 0; }

.footer {
  width: 100%;
  font-size: 0.7rem;
  padding: 20px 0; }
  .footer .footer-box {
    width: 100%;
    text-align: center; }
    .footer .footer-box a {
      padding-right: 8px; }

.btn-top {
  display: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  position: fixed;
  right: 25px;
  bottom: 90px;
  border-radius: 3px;
  font-size: 2rem; }

/*# sourceMappingURL=global.css.map */
